<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864965303140-0u53s6ro07rdsi1irmnn9sqidlp5stv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864965303140-0u53s6ro07rdsi1irmnn9sqidlp5stv6</string>
	<key>API_KEY</key>
	<string>AIzaSyDjh9TvDdofGp_2ifjrMew3LviuS3sD3iM</string>
	<key>GCM_SENDER_ID</key>
	<string>864965303140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.firebaseIntegration</string>
	<key>PROJECT_ID</key>
	<string>fir-integration-d00bf</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-integration-d00bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864965303140:ios:7d4ed827aa274b3c957871</string>
</dict>
</plist>